@charset "utf-8";
/* =Reset default browser CSS.
Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,dis
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus { /* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
	font: 12px "メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS P Gothic",Arial,"sans-serif";
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* =Global
----------------------------------------------- */
.h1img {
	text-indent: -9999px;
	margin: 0;
	padding: 0;
}
.left {
	display: block;
	float: left;
}
.right {
	display: block;
	float: right;
}
/* =Structure
----------------------------------------------- */
body {
}
	#wrap {
	}
		header#header {
			width: 100%;
			min-width: 1000px;
			background: #fff url(./img/header_bg.jpg) repeat-x;
		}
			#headerInner {
				width: 1000px;
				height: 135px;
				margin: 0 auto;
				background: transparent url(./img/header.jpg) no-repeat;
			}
		article#main {
			
		}
			#firstWrap {
				width: 940px;
				padding: 5px 30px 0;
				margin: 0 auto;
			}
				#firstInner {
					width: 940px;
					background: transparent url(./img/employ_bg.jpg) repeat;
				}
					#employ {
						width: 940px;
						min-height: 861px;
						background: transparent url(./img/employ_info.jpg) no-repeat 0 0;
					}
						#employFormTitle {
							padding: 363px 489px 16px 34px;
							width: 417px; height: 20px;
							background: transparent url(./img/employForm_title.png) no-repeat 34px 363px;
						}
						#employForm {
							padding: 0 258px 10px 34px;
							width: 648px; min-height: 429px;
							background: transparent url(./img/employForm_bg.png) repeat-y 33px 363px;
						}
							#employFormInner {
								position: relative;
								width: 648px;
								height: 347px;
								background: transparent url(./img/employForm_info.jpg) repeat-y;
							}
								.emp {
									display: block;
									position: absolute;
									background: #fff;
									border: 1px solid #dedecc;
									
									color: #666;
									font-size: 14px;
									line-height: 20px;
								}
								#emp_email {
									top: 53px; left: 21px;
									width: 605px; height: 27px;
								}
								#emp_motive {
									top: 133px; left: 21px;
									width: 603px; height: 142px;
									resize: none;
								}
								#emp_file_overwrapper {
									position: absolute;
									top: 293px; left: 132px;
									width: 136px; height: 31px;
									background: transparent url(./img/employForm_btn_file.png) no-repeat;
									cursor: pointer;
								}
								#emp_file_overwrapper:hover {
									cursor: pointer;
								}
								#emp_file {
									position: absolute;
									top: 293px; left: 132px;
									width: 136px; height: 31px;
									position: absolute;
									filter: alpha(opacity = 0); /* for IE6, IE7 */
									opacity: 0;
									cursor: pointer;
									z-index: 1;
								}
							#employFormInnerAdd {
								position: relative;
								width: 648px; height: 388px;
								background: transparent url(./img/employFormAdd_info.png) no-repeat;
							}
								#emp_name {
									top: 53px; left: 21px;
									width: 605px; height: 27px;
								}
								#emp_address {
									top: 133px; left: 21px;
									width: 603px; height: 27px;
								}
								#emp_job {
									position: absolute;
									top: 216px; left: 21px;
								}
								#emp_skill {
									top: 286px; left: 21px;
									width: 603px; height: 80px;
									resize: none;
								}
							#employFormInnerSend {
								position: relative;
								width: 648px; height: 80px;
								/*
								background: transparent url(./img/employForm_bg_bottom.jpg) no-repeat scroll bottom left;
								*/
							}
							
						#employFooter {
							margin: 10px 0 0 0;
							width: 940px; height: 62px;
							background: transparent url(./img/employForm_footer.jpg) no-repeat scroll bottom right;
						}
						#about-inner {
							width: 940px;
							min-height: 1000px;
							background: url(./img/about_bg.jpg) repeat-y scroll 0 0;
						}
							#about-bps {
								width: 940px;
								margin: 0 auto;
							}
								.about-bps_l {
									margin: 30px 0 0 30px;
									width: 580px;
								}
									#about-bps h1 {
										width: 181px;
										height: 31px;
										background: url(./img/about-bps.jpg) no-repeat scroll 0 0;
									}
									#about-bps p {
										padding: 15px 0 0;
										font-size: 12px;
										line-height: 24px;
									}
								.about-bps_r {
									margin: 0 15px 0 0;
									width: 293px;
								}
								#about_photo2 {
									width: 100%;
								}
								#about_photo2 p {
									width: 891px;
									margin: 0 auto;
								}
							#about-service {
								width: 940px;
								margin: 0 auto;
							}
								#about-service h1 {
									width: 232px;
									height: 35px;
									background: url(./img/about_service.jpg) no-repeat scroll 0 0;
								}
								
								
								
								
								
								
								