@charset "utf-8";
/* =Reset default browser CSS.
Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,dis
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus { /* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
	font: 12px "メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS P Gothic",Arial,"sans-serif";
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* =Global
----------------------------------------------- */
a {
	color: #0D64C3;
}
p, span {
	text-align: justify !important;
}
.h1img {
	text-indent: -9999px;
	margin: 0;
	padding: 0;
}
.left {
	display: block;
	float: left;
}
.right {
	display: block;
	float: right;
}
/* =Structure
----------------------------------------------- */
body {
}
	#wrap {
	}
		header#header {
			width: 100%;
			min-width: 1000px;
			background: #fff url(./img/header_bg.jpg) repeat-x;
		}
			#headerInner {
				width: 1000px;
				height: 135px;
				margin: 0 auto;
				background: transparent url(./img/header.jpg) no-repeat;
				position: relative;
			}
				#navlink {
					position: absolute;
					top: 30px; left: 30px;
					width: 250px; height: 100px;
				}
				#navlink:hover {
					cursor: pointer;
				}
				
				nav#navbar {
					position: absolute;
					top: 65px; left: 294px;
					width: 676px; height: 44px;
				}
					nav#navbar li {
						list-style: none;
						float: left;
						width: 135px; height: 44px;
						background-image: url(img/navbar.png);
						background-repeat: no-repeat;
						text-indent: -99999px;
					}
					nav#navbar li:hover {
						cursor: pointer;
					}
					li#navbar01 {
						background-position: 0 0;
					}
					li#navbar01:hover {
						background-position: 0 -44px !important;
					}
					li#navbar02 {
						background-position: -135px 0;
					}
					li#navbar02:hover {
						background-position: -135px -44px !important;
					}
					li#navbar03 {
						background-position: -270px 0;
					}
					li#navbar03:hover {
						background-position: -270px -44px !important;
					}
					li#navbar04 {
						background-position: -405px 0;
					}
					li#navbar04:hover {
						background-position: -405px -44px !important;
					}
					li#navbar05 {
						background-position: -540px 0;
					}
					li#navbar05:hover {
						background-position: -539px -44px !important;
					}
		article#main {
			
		}
			#firstWrap {
				width: 940px;
				padding: 5px 30px 0;
				margin: 0 auto;
			}
				#firstInner {
					width: 940px;
					background: transparent url(./img/employ_bg.jpg) repeat;
				}
					#employ {
						width: 940px;
						min-height: 861px;
						background: transparent url(./img/employ_info.jpg) no-repeat 0 0;
					}
						#employFormTitle {
							padding: 363px 489px 16px 34px;
							width: 417px; height: 20px;
							background: transparent url(./img/employForm_title.png) no-repeat 34px 363px;
						}
						#employForm {
							padding: 0 258px 10px 34px;
							width: 648px; min-height: 429px;
							background: transparent url(./img/employForm_bg.png) repeat-y 33px 363px;
						}
							#employFormInner {
								position: relative;
								width: 648px;
								height: 347px;
								background: transparent url(./img/employForm_info.jpg) repeat-y;
							}
								#buttom_more {
									display: block;
									position: absolute;
									bottom: 30px; left: 20px;
									width: 175px; height: 16px;
									background: url(img/button_more.gif) no-repeat;
									cursor: pointer;
								}
								#buttom_more:hover {
									cursor: pointer;
								}
									#buttom_more img:hover {
										cursor: pointer;
									}
								#buttom_enter {
									display: block;
									position: absolute;
									bottom: 20px; right: 20px;
									width: 257px; height: 46px;
									border: 0px;
									background: url(img/button_enter.gif) no-repeat;
									cursor: pointer;
								}
								
								.emp {
									display: block;
									position: absolute;
									background: #fff;
									border: 1px solid #dedecc;
									
									color: #666;
									font-size: 14px;
									line-height: 20px;
								}
								#emp_email {
									top: 53px; left: 21px;
									width: 605px; height: 27px;
								}
								#emp_motive {
									top: 133px; left: 21px;
									width: 603px; height: 142px;
									resize: none;
								}
								#emp_file_overwrapper {
									position: absolute;
									top: 293px; left: 132px;
									width: 136px; height: 31px;
									background: transparent url(./img/employForm_btn_file.png) no-repeat;
									cursor: pointer;
								}
								#emp_file_overwrapper:hover {
									cursor: pointer;
								}
								#emp_file {
									position: absolute;
									top: 293px; left: 132px;
									width: 136px; height: 31px;
									position: absolute;
									filter: alpha(opacity = 0); /* for IE6, IE7 */
									opacity: 0;
									cursor: pointer;
									z-index: 1;
								}
							#employFormInnerAdd {
								position: relative;
								width: 648px; height: 388px;
								background: transparent url(./img/employFormAdd_info.png) no-repeat;
							}
								#emp_name {
									top: 53px; left: 21px;
									width: 605px; height: 27px;
								}
								#emp_address {
									top: 133px; left: 21px;
									width: 603px; height: 27px;
								}
								#emp_job {
									position: absolute;
									top: 216px; left: 21px;
								}
								#emp_skill {
									top: 286px; left: 21px;
									width: 603px; height: 80px;
									resize: none;
								}
							#employFormInnerSend {
								position: relative;
								width: 648px; height: 80px;
								/*
								background: transparent url(./img/employForm_bg_bottom.jpg) no-repeat scroll bottom left;
								*/
							}
							
						#employFooter {
							margin: 10px 0 0 0;
							width: 940px; height: 62px;
							background: transparent url(./img/employForm_footer.jpg) no-repeat scroll bottom right;
						}
						#about-inner {
							padding: 0 0 30px 0;
							width: 940px;
							min-height: 1000px;
							background: url(./img/about_bg.jpg) repeat-y scroll 0 0;
						}
							#about-bps {
								width: 940px;
								margin: 0 auto;
							}
								.about-bps_l {
									margin: 30px 0 0 30px;
									width: 580px;
								}
									#about-bps h1 {
										width: 181px;
										height: 31px;
										background: url(./img/about-bps.jpg) no-repeat scroll 0 0;
									}
									#about-bps p {
										padding: 15px 0 0;
										font-size: 12px;
										line-height: 24px;
									}
								.about-bps_r {
									margin: 0 15px 0 0;
									width: 293px;
								}
								#about_photo2 {
									width: 100%;
								}
								#about_photo2 p {
									width: 891px;
									margin: 0 auto;
								}
							#about-service {
								width: 940px;
								margin: 0 auto;
							}
								#about-service h1 {
									margin: 15px 30px 15px 30px;
									width: 232px;
									height: 35px;
									background: url(img/about_service.jpg) no-repeat scroll 0 0;
								}
									.services {
										margin: 0 30px 10px 30px;
										padding: 20px;
										background: #fff;
										border: 1px solid #E1E1CF;
									}
										.services_l {
											float: left;
										}
											.services_l p {
												margin: 20px 0;
												width: 610px;
											}
										.services_r {
											float: right;
										}
				#secondInner {
					margin: 0 0 8px 0;
				}
						#secondTitle img.title {
							margin: 15px 0;
						}
							ul.tabmenu {
								list-style: none;
							}
								#entrypost {
									margin: 20px 0;
								}
									.entrytab {
										float: left;
									}
										ul.tabmenu {
											width: 585px;
										}
											ul.tabmenu li {
												float: left;
												width: 110px; height: 50px;
												text-indent: -99999px;
												margin: 0 7px 0 0;
												position: relative;
												background-repeat: no-repeat;
												background-position: left top;
											}
											ul.tabmenu li:hover {
												cursor: pointer;
											}
											ul.tabmenu li:before {
												content:'';
												width: 7px; height: 1px;
												left: -7px; bottom: 0;
												position: absolute;
												z-index: 2;
												background: #ccc;
											}
												ul.tabmenu li#tab01 {
													background: url(img/tab_01.gif) left bottom;
												}
												ul.tabmenu li#tab01:before {
													height: 0;
												}
												ul.tabmenu li#tab02 {
													background: url(img/tab_02.gif);
												}
												ul.tabmenu li#tab03 {
													background: url(img/tab_03.gif);
												}
												ul.tabmenu li#tab04 {
													background: url(img/tab_04.gif);
												}
												ul.tabmenu li#tab05 {
													background: url(img/tab_05.gif);
												}
											.tabcontent {
												float: left;
												width: 580px;
											}
												.tabTable {
													margin: 20px 0;
												}
													.tabTable tr {
													}
														.tabTable th {
															vertical-align: middle;
															width: 150px;
															color: #0ABAA3;
															font-size: 12px;
															font-weight: bold;
															line-height: 20px;
															text-align: left;
															border-bottom: 1px dashed #ddd;
														}
														.tabTable td {
															font-size: 12px;
															line-height: 18px;
															padding: 5px 0;
															border-bottom: 1px dashed #ddd;
														}
															.tabTable table td {
																border: none;
																padding: 0;
															}
									.entrymenu {
										float: right;
										width: 342px;
									}
										dl.entrymenuInner {
											border-right: 1px solid #D0D0D0;
											border-left: 1px solid #D0D0D0;
											position: relative;
										}
										dl.entrymenuInner:before {
											content:'';
											width: 1px; height: 5px;
											left: -1px; top: -5px;
											position: absolute;
											z-index: 2;
											background: #ccc;
										}
										dl.entrymenuInner:after {
											content:'';
											width: 1px; height: 5px;
											right: -1px; top: -5px;
											position: absolute;
											z-index: 2;
											background: #ccc;
										}
											dl.entrymenuInner dt,
											dl.entrymenuInner dd {
												padding: 0 12px;
											}
											dl.entrymenuInner dt {
												color: #00A48F;
												font-weight: bold;
												padding-top: 12px;
											}
											dl.entrymenuInner dd {
												border-bottom: 1px solid #D0D0D0;
												padding-bottom: 12px;
											}
							ul.qa_list {
								border: 1px solid #E7E7E7;
								border-bottom: none;
							}
								ul.qa_list li {
									border-bottom: 1px solid #E7E7E7;
									list-style: none;
									padding: 16px 20px 0 20px;
								}
									p.question {
										background: url(img/question_q.jpg) no-repeat scroll left top transparent;
										line-height: 28px;
										padding-left: 38px;
									}
									p.answer {
										background: url(img/question_a.jpg) no-repeat scroll left top transparent;
										line-height: 28px;
										padding-left: 38px;
									}
									ul.qa_list li p {
										padding: 0 0 0 40px;
										margin: 0 0 16px 0;
									}
		footer {
			width: 100%;
			text-align: left;
		}
			#footerLink {
				width: 940px;
				margin: 24px auto 12px;
				text-align: left;
				position: relative;
			}
				#pagetop {
					width: 117px; height: 54px;
					top: 45px; left: 830px;
					background: url(img/icon_pagetop.gif) no-repeat;
					position: absolute;
					z-index: 1000;
				}
			footer a, footer span {
				color: #606060;
				text-decoration: none;
				font-size: 10px;
				font-weight: normal;
			}
			
			footer ul#footerLinks li {
				display:table-cell;
				vertical-align:bottom;
			}
			* html footer ul#footerLinks li {/* IE 6 */
				display:inline;
				zoom:1;
			}
			*:first-child+html footer ul#footerLinks li {/* IE 7 */
				display:inline;
				zoom:1;
			}
				footer ul#footerLinks li span {
					padding-right: 4px;
				}
			
			#footerInfo {
				background: #f6f6f6;
				height: 200px;
			}
				#footerInfoInner {
					width: 940px;
					margin: 0 auto 12px;
				}